<h1>Compétitions</h1>
<%= link_to "Tous les matchs", matchs_path %>
<ul>
  <% @competitions.each do |competition| %>
    <li><%= link_to competition["name"], competition_path(competition["id"]) %></li>
  <% end %>
</ul>